* {
    box-sizing: border-box;
}
body {
    background-color: grey;
    margin: 0px;
}
.content {
    background-color: #fff;
    margin: 0px 300px;
}

.menu-bar {
    
}

h2{
    text-align: center;
}