* {
    box-sizing: border-box;
}
body {
    background-color: grey;
    margin: 0px;
}
.content {
    background-color: #fff;
    margin: 0px 300px;
}

h1 {
    margin-top: 0px;
    padding: 16px;
}

h2{
    text-align: center;
}