* {
    box-sizing: border-box;
}
body {
    background-color: grey;
    margin: 0px;
}
.content {
    background-color: #fff;
    margin: 0px 300px;
}

.menu-item {
    float: right;
    height: 26px;
    margin: 11px;
    border: 4px dashed green;
}

.menu-bar {
    border: 4px solid black;
    background-color: red;
    height: 64px;
    position: relative;
    margin: 0px;
    padding: 8px;
}
h1{
    margin: 0px;
    display: inline;
}
h2{
    text-align: center;
}