* {
    box-sizing: border-box;
}
body {
    background-color: grey;
    margin: 0px;
}
.content {
    background-color: #fff;
    margin: 0px 300px;
}

.menu-item {
    display: inline;
    margin-left: 450px;
}

.menu-bar {
    border: 4px solid black;
    margin: 0px;
    padding: 8px;
}
h1{
    margin: 0px;
    display: inline;
}
h2{
    text-align: center;
}