* {
    box-sizing: border-box;
}
body {
    background-color: grey;
    margin: 0px;
}
.content {
    background-color: #fff;
    margin: 0px 300px;
}

.menu-bar {
    border: 4px solid black;
    background-color: blue;
    position: relative;
    height: 64px;
    margin: 0px;
    padding: 8px;
}

.link-menu {
    display: inline;
    position: absolute;
    right: 8px;
    top: 50%;
    margin-top: -13px;
    height: 26px;
    border: 4px dashed green;
}

.link-item {
    padding-left: 8px;
}

.page {
    padding: 0px 16px 16px 16px;
}


h1{
    margin: 0px;
    display: inline;
}

h2{
    text-align: center;
}

h3{
    text-align: center;
}

.recipe-image{
    width: 750px;
    margin: 0px auto;
}
